@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Monsterat';
  src: url('../assets/fonts/Monsterat.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Monsterat';
}@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: inline-block;
  width: max-content;
  animation: scroll 120s linear infinite;
}
